@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 85%;
}

.small-container {
    max-width: 1000px;
    margin: auto;
    width: 85%;
}

/* #### header ### */

.header {
    background: #eaeeec9c;
    padding: 20px 0 50px 0;
    border-bottom: 1px solid #4f6f521a;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.links {
    display: flex;
    gap: 17px;
}

.links li {
    color: #867c7b;
    list-style: none;
    transition: color 0.3s;
}

.links li:hover {
    color: #4f6f52;
    cursor: pointer;
}

.logo {
    color: #4f6f52ce;
}

/* header content */
.header-content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.content-box {
    flex-grow: 1;
    flex-basis: 500px;
}

.content-box h1 {
    color: #92a191e1;
    line-height: 35px;
}

.content-box p {
    margin: 10px 0;
    color: #867c7b;
}

.header-btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 30px;
    background: #d2e3c863;
    border: 1px solid #4f6f528c;
    color: #4f6f52ec;
}

.img-box {
    text-align: center;
    color: #4f6f52ec;
    flex-grow: 1;
    flex-basis: 500px;
    background: #d2e3c863;
    border: 1px solid #4f6f529f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

/* ###### information section #### */

.information {
    background: #bed4ca2d;
    padding: 35px 0 50px 0;
    border-bottom: 1px solid #4f6f521a;
}

.information h3 {
    text-align: center;
    color: #4f6f52ce;
}

.information-box-wrapper {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.information-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information-box p {
    text-align: center;
    max-width: 220px;
    font-size: 13px;
    color: #555e55;
}

.img-section {
    align-self: center;
    width: 100px;
    height: 100px;
    border: 2px solid #4f6f5270;
    border-radius: 5px;
}

/* ###### testimonial #### */

.testimonial {
    background: #bed4ca31;
    padding: 70px 0 50px 0;
    border-bottom: 1px solid #4f6f521a;
    color: #4f6f52de;
}

.name {
    text-align: right;
}

/* ### sign up section #### */

.sign-up {
    background: #cadad159;
    padding: 80px 0 90px 0;
    border-bottom: 1px solid #4f6f521a;
}

.sign-up .container {
    color: #4f6f52ec;
    background: #d2e3c83d;
    border: 1px solid #4f6f5279;
    border-radius: 5px;
}

.sign-up .container .small-container {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.left {
    flex-grow: 2;
    flex-basis: 500px;
}

.left p:first-child {
    font-weight: 600;
}

.sign-up-btn {
    text-decoration: none;
    color: #4f6f52ec;
    padding: 8px 30px;
    background: #ffffff75;
    border: 1px solid #97a79979;
    border-radius: 5px;
}

/* ##### footer ##### */


.footer {
    background: #eaeeec9c;
    padding: 20px 0 10px 0;
    text-align: center;
    border-bottom: 1px solid #4f6f521a;
    font-size: 14px;
    color: #867c7b;
}


@media (max-width: 530px) {
    .links {
        display: none;
    }
}